@import "@styles/variables";

.dashboard__wrapper {
  height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
}

.dashboard__header {
  max-height: 60px;
  margin : 0 16px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.dashboard__search-bar {
  width : 50%;
}

.dashboard__body {
  width: calc(100% - 48px); //Minus double margin
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow-y: scroll;

  margin: 0 16px 16px;
  padding: 8px;
  border-radius: 16px;
  background-color: $light-grey;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
}

.dashboard__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.dashboard__no-queries {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: lightgray;
  font-style: italic;
}

.dashboard__limitreached {
  color: $red;
  font-style: italic;
}

@media screen and (max-width: $breakpoint-sm) {

  .dashboard__body {
    width: calc(100% - 16px); //Minus double margin
    margin: 0 8px 8px;
    padding: 0;
  }

  .dashboard__header {
    flex-direction: column;
    gap: 8px;
    margin : 0 8px;
    align-items: flex-start;
  }

  .dashboard__limitreached {
    padding: 0 8px;
  }
}
