@import "@styles/variables";

.navbar {
  display: flex;
  align-items: center;
  font-family: $second-font-family;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: $light-grey;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 40px;
  top: 0;
  margin: auto;

  .navbar__logo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    .navbar__logo-img {
      height: 90%;
    }

    .navbar__logo-txt {
      font-weight: $heading-font-weight;
      font-size: 30px;
      .navbar__green {
        color: $green;
      }
    }
  }

  .navbar__menu {
    .navbar__menu-item {
      display: flex;
      align-items: center;
      :hover {
        color: $light-blue;
      }
      .navbar__menu-button {
        color: $dark-blue;
        gap: 10px;
        padding-right: 10px;
      }
    }
    .navbar__icon {
      color: $dark-blue;
      height: 100%;
    }
  }
}
