@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

#root {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

body {
  display: block;
  margin: 0;
}

a {
  text-decoration: none;
}

// Variables
// Fonts
$base-font-family: "Montserrat", sans-serif;
$second-font-family: "JetBrains Mono", monospace;

// Colors
$light-grey: #fafafa;
$grey: #d3d5d9;
$light-blue: #c1e0f7;
$dark-blue: #011936;
$green: #6cf069;
$red: #ee3e3b;
$orange: #e8bb36;

// Typography
$base-font-size: 16px;
$heading-font-weight: 700;
$body-font-weight: 400;

$h1-font-size: 2.5rem;
$h2-font-size: 2rem;
$h3-font-size: 1.75rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1rem;

// Spacing
$space-xxs: 4px;
$space-xs: 8px;
$space-sm: 16px;
$space-md: 24px;
$space-lg: 32px;
$space-xl: 48px;
$space-xxl: 64px;

// Breakpoints
$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1440px;

// Z-index
$z-index-1: 10;
$z-index-2: 20;
$z-index-3: 30;

// Border radius
$border-radius-xs: 4px;
$border-radius-sm: 8px;
$border-radius-md: 16px;
$border-radius-lg: 24px;

// Shadows
$base-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
  rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
$light-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$dark-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
  rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
  rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

// Mixins
@mixin flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}