@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "@styles/variables";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; // Prevent scrollbars on the whole page
}

#root {
  width: 100vw;
  min-height: 100vh; // Adjust based on navbar height if necessary
  overflow: hidden; // Prevent scrollbars within #root
}

body {
  display: block;
  max-height: 100vh; // This ensures the body doesn't exceed the viewport height
  background: rgb(108, 240, 105);
  background: radial-gradient(
    ellipse at 50% 50%,
    rgb(193, 224, 247) 0%,
    rgb(250, 250, 250) 89%
  );
  box-sizing: unset;
}

a {
  text-decoration: none;
  color: inherit;

  &:visited,
  &:hover,
  &:active {
    color: inherit;
  }
}
