// Variables
// Fonts
$base-font-family: "Montserrat", sans-serif;
$second-font-family: "JetBrains Mono", monospace;

// Typography
$base-font-size: 16px;
$heading-font-weight: 700;
$body-font-weight: 400;

// Colors
$light-grey: #fafafa;
$grey: #d3d5d9;
$light-blue: #c1e0f7;
$dark-blue: #011936;
$green: #6cf069;
$red: #ee3e3b;
$orange: #e8bb36;