@import "@styles/variables";
@import "@styles/mixins";

.register__container {
  @include flex-row-center;
  height: 100vh;
  background-color: $light-grey;
  .register__form {
    @include flex-column-center;
    gap: $space-md;
  }

  .register__form-content {
    @include flex-column-center;
  }
}
